In [1]:
import tradingeconomics as te

In [2]:
te.login("51a072f89c934bd:l011saq3ckgd3ka")

'You are logged in as a 51a072f89c934bd:l011saq3ckgd3ka'

### To get Credit Ratings.

In [3]:
te.getRatings( output_type='df')

,Country,TE,TE_Outlook,SP,SP_Outlook,Moodys,Moodys_Outlook,Fitch,Fitch_Outlook,DBRS,DBRS_Outlook
0,Zambia,30,Negative,SD,N/A,Ca,Stable,RD,N/A,,
1,Vietnam,45,Stable,BB+,Stable,Ba2,Stable,BB,Positive,,
2,Venezuela,11,Negative Watch,N/A,N/A,C,Stable,RD,N/A,,
3,Uzbekistan,38,Stable,BB-,Stable,B1,Positive,BB-,Stable,,
4,Uruguay,55,Negative,\tBBB,Stable,Baa2,Stable,BBB-,Stable,BBB,Stable
...,...,...,...,...,...,...,...,...,...,...,...
151,Armenia,14,Positive,B+,Positive,Ba3,Negative,B+,Stable,,
152,Argentina,15,Stable,CCC+,Negative,Ca,Stable,CCC-,N/A,CCC,Stable
153,Angola,25,Stable,B-,Stable,B3,Positive,B-,Positive,,
154,Andorra,63,Positive,BBB+,Stable,Baa2,Stable,A-,Stable,,
155,Albania,35,Stable,B+,Stable,B1,Stable,,,,

### To get Credit Rating data for one country.

In [4]:
te.getRatings(country= 'mexico', output_type='df')

,Country,TE,TE_Outlook,SP,SP_Outlook,Moodys,Moodys_Outlook,Fitch,Fitch_Outlook,DBRS,DBRS_Outlook
0,Mexico,60,Stable,BBB,Stable,Baa2,Stable,BBB-,Stable,BBB,Stable

### To get Credit Rating data for several countries.

In [5]:
te.getRatings(country=['mexico','sweden'], output_type='df')

,Country,TE,TE_Outlook,SP,SP_Outlook,Moodys,Moodys_Outlook,Fitch,Fitch_Outlook,DBRS,DBRS_Outlook
0,Sweden,99,Stable,AAA,Stable,Aaa,Stable,AAA,Stable,AAA,Stable
1,Mexico,60,Stable,BBB,Stable,Baa2,Stable,BBB-,Stable,BBB,Stable

### To get Credit Rating historical data for one country.

In [6]:
te.getHistoricalRatings(country= 'mexico', output_type='df')

   Country        Date   Agency Rating   Outlook
0   Mexico  12/18/1990  Moody's    Ba2    Stable
1   Mexico   7/30/1992      S&P    BB+    Stable
2   Mexico  11/18/1993      S&P    BB+  Positive
3   Mexico  12/23/1994      S&P    BB+       N/A
4   Mexico   2/10/1995      S&P    BB+    Stable
..     ...         ...      ...    ...       ...
58  Mexico   4/17/2020  Moody's   Baa1  Negative
59  Mexico    5/6/2020     DBRS    BBB  Negative
60  Mexico    5/6/2021     DBRS    BBB    Stable
61  Mexico    7/6/2022      S&P    BBB    Stable
62  Mexico    7/8/2022  Moody's   Baa2    Stable

[63 rows x 5 columns]

### To get Credit Rating historical data for several countries.

In [8]:
te.getHistoricalRatings(country=['mexico','sweden'], output_type="df")

   Country        Date   Agency Rating   Outlook
0   Sweden  10/27/1977      S&P    AAA       N/A
1   Sweden  11/10/1977  Moody's    Aaa    Stable
2   Sweden   6/26/1989      S&P    AAA    Stable
3   Sweden  10/31/1990      S&P    AAA  Negative
4   Mexico  12/18/1990  Moody's    Ba2    Stable
..     ...         ...      ...    ...       ...
86  Mexico   4/17/2020  Moody's   Baa1  Negative
87  Mexico    5/6/2020     DBRS    BBB  Negative
88  Mexico    5/6/2021     DBRS    BBB    Stable
89  Mexico    7/6/2022      S&P    BBB    Stable
90  Mexico    7/8/2022  Moody's   Baa2    Stable

[91 rows x 5 columns]

### To get Credit Rating historical data for one country by start and end date.

In [11]:
te.getHistoricalRatings(country= 'mexico',initDate= '2011-01-01',  endDate= '2012-01-01',output_type='df')

### To get Credit Rating historical data for one country using only start date.

In [12]:
te.getHistoricalRatings(country= 'mexico',initDate= '2011-01-01', output_type='df')

   Country        Date   Agency      Rating   Outlook
0   Mexico   2/12/2013     DBRS         BBB  Positive
1   Mexico   3/12/2013      S&P         BBB  Positive
2   Mexico    5/8/2013    Fitch        BBB+    Stable
3   Mexico  12/19/2013      S&P        BBB+    Stable
4   Mexico    2/5/2014  Moody's          A3    Stable
5   Mexico   3/31/2014     DBRS  BBB (high)    Stable
6   Mexico   3/31/2016  Moody's          A3  Negative
7   Mexico   8/23/2016      S&P        BBB+  Negative
8   Mexico   7/19/2017      S&P        BBB+    Stable
9   Mexico    8/3/2017    Fitch        BBB+    Stable
10  Mexico   4/11/2018  Moody's          A3    Stable
11  Mexico  10/31/2018    Fitch        BBB+  Negative
12  Mexico    3/1/2019      S&P        BBB+  Negative
13  Mexico    6/5/2019  Moody's          A3  Negative
14  Mexico    6/5/2019    Fitch         BBB    Stable
15  Mexico  12/19/2019     DBRS  BBB (high)  Negative
16  Mexico   3/26/2020      S&P         BBB  Negative
17  Mexico   4/16/2020    Fitch        BBB-    Stable
18  Mexico   4/17/2020  Moody's        Baa1  Negative
19  Mexico    5/6/2020     DBRS         BBB  Negative
20  Mexico    5/6/2021     DBRS         BBB    Stable
21  Mexico    7/6/2022      S&P         BBB    Stable
22  Mexico    7/8/2022  Moody's        Baa2    Stable